In [76]:
# !pip install scikit-multilearn
!pip install category-encoders

Collecting category-encoders
  Downloading category_encoders-2.2.2-py2.py3-none-any.whl (80 kB)
Requirement already satisfied: patsy>=0.5.1 in c:\users\ahs\anaconda3\lib\site-packages (from category-encoders) (0.5.1)
Requirement already satisfied: pandas>=0.21.1 in c:\users\ahs\anaconda3\lib\site-packages (from category-encoders) (1.1.3)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\ahs\anaconda3\lib\site-packages (from category-encoders) (0.12.0)
Requirement already satisfied: numpy>=1.14.0 in c:\users\ahs\anaconda3\lib\site-packages (from category-encoders) (1.19.2)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\ahs\anaconda3\lib\site-packages (from category-encoders) (0.23.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\ahs\anaconda3\lib\site-packages (from category-encoders) (1.5.2)
Requirement already satisfied: six in c:\users\ahs\anaconda3\lib\site-packages (from patsy>=0.5.1->category-encoders) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\ahs\anaconda3\lib\site-packages (from pandas>=0.21.1->category-encoders) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\ahs\anaconda3\lib\site-packages (from pandas>=0.21.1->category-encoders) (2.8.1)
Requirement already satisfied: joblib>=0.11 in c:\users\ahs\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category-encoders) (0.17.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ahs\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category-encoders) (2.1.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [279]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
# from sklearn.preprocessing import
pd.options.display.max_columns = 100
from sklearn.preprocessing import StandardScaler,LabelEncoder,MultiLabelBinarizer,LabelBinarizer
from sklearn.model_selection import train_test_split,cross_val_score
import numpy as np
import category_encoders as ce

In [560]:
from sklearn.metrics import accuracy_score,mean_squared_error,mean_absolute_error
from xgboost import XGBRegressor,XGBClassifier
from sklearn.multiclass import OneVsRestClassifier
from sklearn.ensemble import RandomForestClassifier

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
data_tr = pd.read_csv("Train.csv")
data_ts = pd.read_csv("Test.csv")

In [370]:
data_tr.head()
data_ts.head()

,EmpID,EmpName,LanguageOfCommunication,Age,Gender,JobProfileIDApplyingFor,HighestDegree,DegreeBranch,GraduatingInstitute,LatestDegreeCGPA,YearsOfExperince,GraduationYear,CurrentCTC,ExpectedCTC,MartialStatus,EmpScore,CurrentDesignation,CurrentCompanyType,DepartmentInCompany,TotalLeavesTaken,BiasInfluentialFactor,FitmentPercent
0,11041,John,English,35,Male,JR85289,B.Tech,Electrical,Tier 1,7,12,2009,21,26,Married,5,SSE,Enterprise,Design,20,YearsOfExperince,95.40
1,15079,William,English,26,Male,JR87525,B.Tech,Artificial Intelligence,Tier 3,7,3,2018,15,19,Married,5,BA,MidSized,Engineering,6,NaN,67.09
2,18638,James,English,36,Female,JR87525,PhD,Computer Science,Tier 1,6,6,2015,15,24,Single,5,SDE,MidSized,Engineering,19,Gender,91.26
3,3941,Charles,English,29,Female,JR87525,BCA,Information Technology,Tier 2,5,6,2015,16,24,Married,5,SDE,Startup,Product,16,Gender,72.29
4,5936,George,English,25,Male,JR70175,Dual M.Tech,Computer Science,Tier 3,8,2,2019,24,32,Married,5,SDE,Enterprise,Engineering,10,DegreeBranch,86.34

,EmpID,EmpName,LanguageOfCommunication,Age,Gender,JobProfileIDApplyingFor,HighestDegree,DegreeBranch,GraduatingInstitute,LatestDegreeCGPA,YearsOfExperince,GraduationYear,CurrentCTC,ExpectedCTC,MartialStatus,EmpScore,CurrentDesignation,CurrentCompanyType,DepartmentInCompany,TotalLeavesTaken
0,5664,Theo,Native,35,Male,JR85289,PhD,Information Technology,Tier 2,5,5,2016,27,34,Single,4,SDE,Enterprise,Finance,18
1,23568,Vernie,English,35,Male,JR85289,B.Tech,Information Technology,Tier 3,9,12,2009,29,33,Married,4,EM,Enterprise,Engineering,8
2,21490,Wendell,English,28,Male,JR87525,M.Tech,Artificial Intelligence,Tier 2,9,2,2019,18,25,Married,3,SDE,Startup,Engineering,18
3,8363,West,Hindi,37,Male,JR87525,MS,Computer Science,Tier 2,8,11,2010,7,12,Single,5,DS,Enterprise,Product,17
4,6165,Alford,Hindi,36,Female,JR85289,PhD,Artificial Intelligence,Tier 2,7,6,2015,22,32,Married,4,SDE,Startup,Engineering,9

In [360]:
data_ts.EmpID.nunique()
data_tr.shape

8745

(13645, 22)

In [371]:
df = pd.concat([data_tr,data_ts],axis=0,sort=True)
df

,Age,BiasInfluentialFactor,CurrentCTC,CurrentCompanyType,CurrentDesignation,DegreeBranch,DepartmentInCompany,EmpID,EmpName,EmpScore,ExpectedCTC,FitmentPercent,Gender,GraduatingInstitute,GraduationYear,HighestDegree,JobProfileIDApplyingFor,LanguageOfCommunication,LatestDegreeCGPA,MartialStatus,TotalLeavesTaken,YearsOfExperince
0,35,YearsOfExperince,21,Enterprise,SSE,Electrical,Design,11041,John,5,26,95.40,Male,Tier 1,2009,B.Tech,JR85289,English,7,Married,20,12
1,26,NaN,15,MidSized,BA,Artificial Intelligence,Engineering,15079,William,5,19,67.09,Male,Tier 3,2018,B.Tech,JR87525,English,7,Married,6,3
2,36,Gender,15,MidSized,SDE,Computer Science,Engineering,18638,James,5,24,91.26,Female,Tier 1,2015,PhD,JR87525,English,6,Single,19,6
3,29,Gender,16,Startup,SDE,Information Technology,Product,3941,Charles,5,24,72.29,Female,Tier 2,2015,BCA,JR87525,English,5,Married,16,6
4,25,DegreeBranch,24,Enterprise,SDE,Computer Science,Engineering,5936,George,5,32,86.34,Male,Tier 3,2019,Dual M.Tech,JR70175,English,8,Married,10,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8740,26,NaN,29,Startup,SDE,Computer Science,Design,14758,Matt,5,38,NaN,Female,Tier 1,2018,B.Tech,JR85289,English,10,Married,10,3
8741,27,NaN,18,Startup,BA,Electrical,Design,23544,Salvatore,4,26,NaN,Male,Tier 1,2020,MS,JR85289,Hindi,10,Married,19,1
8742,27,NaN,7,Startup,SDE,Computer Science,Engineering,16175,Adrian,4,17,NaN,Male,Tier 2,2017,B.Tech,JR85289,English,7,Married,12,4
8743,33,NaN,8,Enterprise,SSE,Electrical and Electronics,Design,18458,Ambrose,4,18,NaN,Male,Tier 1,2014,MS,JR79193,English,7,Married,10,7
8744,26,NaN,29,Startup,SDE,Information Technology,Engineering,10036,Arther,3,34,NaN,Other,Tier 2,2018,Dual M.Tech,JR89890,Native,9,Single,10,3

In [372]:
df.drop(columns=['EmpName'],inplace=True)

In [367]:
# df.set_index('EmpID',inplace=True)
# df.sort_index(inplace=True)

In [373]:
df

,Age,BiasInfluentialFactor,CurrentCTC,CurrentCompanyType,CurrentDesignation,DegreeBranch,DepartmentInCompany,EmpID,EmpScore,ExpectedCTC,FitmentPercent,Gender,GraduatingInstitute,GraduationYear,HighestDegree,JobProfileIDApplyingFor,LanguageOfCommunication,LatestDegreeCGPA,MartialStatus,TotalLeavesTaken,YearsOfExperince
0,35,YearsOfExperince,21,Enterprise,SSE,Electrical,Design,11041,5,26,95.40,Male,Tier 1,2009,B.Tech,JR85289,English,7,Married,20,12
1,26,NaN,15,MidSized,BA,Artificial Intelligence,Engineering,15079,5,19,67.09,Male,Tier 3,2018,B.Tech,JR87525,English,7,Married,6,3
2,36,Gender,15,MidSized,SDE,Computer Science,Engineering,18638,5,24,91.26,Female,Tier 1,2015,PhD,JR87525,English,6,Single,19,6
3,29,Gender,16,Startup,SDE,Information Technology,Product,3941,5,24,72.29,Female,Tier 2,2015,BCA,JR87525,English,5,Married,16,6
4,25,DegreeBranch,24,Enterprise,SDE,Computer Science,Engineering,5936,5,32,86.34,Male,Tier 3,2019,Dual M.Tech,JR70175,English,8,Married,10,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8740,26,NaN,29,Startup,SDE,Computer Science,Design,14758,5,38,NaN,Female,Tier 1,2018,B.Tech,JR85289,English,10,Married,10,3
8741,27,NaN,18,Startup,BA,Electrical,Design,23544,4,26,NaN,Male,Tier 1,2020,MS,JR85289,Hindi,10,Married,19,1
8742,27,NaN,7,Startup,SDE,Computer Science,Engineering,16175,4,17,NaN,Male,Tier 2,2017,B.Tech,JR85289,English,7,Married,12,4
8743,33,NaN,8,Enterprise,SSE,Electrical and Electronics,Design,18458,4,18,NaN,Male,Tier 1,2014,MS,JR79193,English,7,Married,10,7
8744,26,NaN,29,Startup,SDE,Information Technology,Engineering,10036,3,34,NaN,Other,Tier 2,2018,Dual M.Tech,JR89890,Native,9,Single,10,3

In [374]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22390 entries, 0 to 8744
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      22390 non-null  int64
 1   BiasInfluentialFactor    10309 non-null  object
 2   CurrentCTC               22390 non-null  int64
 3   CurrentCompanyType       22390 non-null  object
 4   CurrentDesignation       22390 non-null  object
 5   DegreeBranch             22390 non-null  object
 6   DepartmentInCompany      22390 non-null  object
 7   EmpID                    22390 non-null  int64
 8   EmpScore                 22390 non-null  int64
 9   ExpectedCTC              22390 non-null  int64
 10  FitmentPercent           13645 non-null  float64
 11  Gender                   22390 non-null  object
 12  GraduatingInstitute      22390 non-null  object
 13  GraduationYear           22390 non-null  int64
 14  HighestDegree            22390 non-null  object
 15  JobProfileIDApplyingFor  22390 non-null  object
 16  LanguageOfCommunication  22390 non-null  object
 17  LatestDegreeCGPA         22390 non-null  int64
 18  MartialStatus            22390 non-null  object
 19  TotalLeavesTaken         22390 non-null  int64
 20  YearsOfExperince         22390 non-null  int64
dtypes: float64(1), int64(9), object(11)
memory usage: 3.8+ MB

In [375]:
df.isna().sum()

Age                            0
BiasInfluentialFactor      12081
CurrentCTC                     0
CurrentCompanyType             0
CurrentDesignation             0
DegreeBranch                   0
DepartmentInCompany            0
EmpID                          0
EmpScore                       0
ExpectedCTC                    0
FitmentPercent              8745
Gender                         0
GraduatingInstitute            0
GraduationYear                 0
HighestDegree                  0
JobProfileIDApplyingFor        0
LanguageOfCommunication        0
LatestDegreeCGPA               0
MartialStatus                  0
TotalLeavesTaken               0
YearsOfExperince               0
dtype: int64

In [ ]:
for x in df.columns:
    print(x,"--",df[x].unique())

In [376]:
df1=pd.get_dummies(df,columns = ['CurrentCompanyType','CurrentDesignation','DegreeBranch','DepartmentInCompany','Gender','GraduatingInstitute','HighestDegree','LanguageOfCommunication','MartialStatus'],prefix_sep='_')

In [377]:
df1

,Age,BiasInfluentialFactor,CurrentCTC,EmpID,EmpScore,ExpectedCTC,FitmentPercent,GraduationYear,JobProfileIDApplyingFor,LatestDegreeCGPA,TotalLeavesTaken,YearsOfExperince,CurrentCompanyType_Enterprise,CurrentCompanyType_MidSized,CurrentCompanyType_Startup,CurrentDesignation_BA,CurrentDesignation_DA,CurrentDesignation_DE,CurrentDesignation_DS,CurrentDesignation_EM,CurrentDesignation_SDE,CurrentDesignation_SEM,CurrentDesignation_SSE,DegreeBranch_Artificial Intelligence,DegreeBranch_Computer Science,DegreeBranch_Electrical,DegreeBranch_Electrical and Electronics,DegreeBranch_Electronics,DegreeBranch_Information Technology,DepartmentInCompany_Customer Success,DepartmentInCompany_Design,DepartmentInCompany_Engineering,DepartmentInCompany_Finance,DepartmentInCompany_Product,Gender_Female,Gender_Male,Gender_Other,GraduatingInstitute_Tier 1,GraduatingInstitute_Tier 2,GraduatingInstitute_Tier 3,HighestDegree_B.Tech,HighestDegree_BCA,HighestDegree_Dual M.Tech,HighestDegree_Dual MBA,HighestDegree_M.Tech,HighestDegree_MCA,HighestDegree_MS,HighestDegree_PhD,LanguageOfCommunication_English,LanguageOfCommunication_Hindi,LanguageOfCommunication_Native,MartialStatus_Married,MartialStatus_Single
0,35,YearsOfExperince,21,11041,5,26,95.40,2009,JR85289,7,20,12,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0
1,26,NaN,15,15079,5,19,67.09,2018,JR87525,7,6,3,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0
2,36,Gender,15,18638,5,24,91.26,2015,JR87525,6,19,6,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1
3,29,Gender,16,3941,5,24,72.29,2015,JR87525,5,16,6,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0
4,25,DegreeBranch,24,5936,5,32,86.34,2019,JR70175,8,10,2,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8740,26,NaN,29,14758,5,38,NaN,2018,JR85289,10,10,3,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0
8741,27,NaN,18,23544,4,26,NaN,2020,JR85289,10,19,1,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0
8742,27,NaN,7,16175,4,17,NaN,2017,JR85289,7,12,4,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,1,0
8743,33,NaN,8,18458,4,18,NaN,2014,JR79193,7,10,7,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0
8744,26,NaN,29,10036,3,34,NaN,2018,JR89890,9,10,3,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,1

In [378]:
df1.describe()

,Age,CurrentCTC,EmpID,EmpScore,ExpectedCTC,FitmentPercent,GraduationYear,LatestDegreeCGPA,TotalLeavesTaken,YearsOfExperince,CurrentCompanyType_Enterprise,CurrentCompanyType_MidSized,CurrentCompanyType_Startup,CurrentDesignation_BA,CurrentDesignation_DA,CurrentDesignation_DE,CurrentDesignation_DS,CurrentDesignation_EM,CurrentDesignation_SDE,CurrentDesignation_SEM,CurrentDesignation_SSE,DegreeBranch_Artificial Intelligence,DegreeBranch_Computer Science,DegreeBranch_Electrical,DegreeBranch_Electrical and Electronics,DegreeBranch_Electronics,DegreeBranch_Information Technology,DepartmentInCompany_Customer Success,DepartmentInCompany_Design,DepartmentInCompany_Engineering,DepartmentInCompany_Finance,DepartmentInCompany_Product,Gender_Female,Gender_Male,Gender_Other,GraduatingInstitute_Tier 1,GraduatingInstitute_Tier 2,GraduatingInstitute_Tier 3,HighestDegree_B.Tech,HighestDegree_BCA,HighestDegree_Dual M.Tech,HighestDegree_Dual MBA,HighestDegree_M.Tech,HighestDegree_MCA,HighestDegree_MS,HighestDegree_PhD,LanguageOfCommunication_English,LanguageOfCommunication_Hindi,LanguageOfCommunication_Native,MartialStatus_Married,MartialStatus_Single
count,22390.000000,22390.000000,22390.0000,22390.000000,22390.000000,13645.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000
mean,30.685083,18.054444,13195.5000,3.390576,25.049129,75.880093,2014.484725,7.104600,11.950692,6.515275,0.320277,0.217731,0.461992,0.122912,0.019875,0.010138,0.128182,0.100804,0.394596,0.020009,0.203484,0.150826,0.347164,0.131041,0.029433,0.122063,0.219473,0.116927,0.320768,0.421215,0.051273,0.089817,0.313667,0.615498,0.070835,0.347834,0.452211,0.199955,0.407146,0.120858,0.098794,0.047879,0.149844,0.009781,0.117240,0.048459,0.548504,0.349308,0.102188,0.719830,0.280170
std,3.901991,7.186951,6463.5806,1.049650,7.452855,14.894207,3.439259,1.343285,4.909888,3.439259,0.466593,0.412713,0.498564,0.328344,0.139574,0.100180,0.334300,0.301076,0.488775,0.140034,0.402598,0.357887,0.476079,0.337452,0.169020,0.327366,0.413899,0.321341,0.466782,0.493765,0.220559,0.285926,0.463993,0.486488,0.256555,0.476294,0.497722,0.399975,0.491313,0.325969,0.298392,0.213514,0.356926,0.098417,0.321713,0.214739,0.497653,0.476762,0.302903,0.449092,0.449092
min,24.000000,6.000000,2001.0000,1.000000,10.000000,33.530000,2009.000000,4.000000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,28.000000,12.000000,7598.2500,3.000000,19.000000,68.720000,2012.000000,6.000000,8.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,31.000000,18.000000,13195.5000,3.000000,25.000000,78.110000,2015.000000,7.000000,12.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,34.000000,24.000000,18792.7500,4.000000,31.000000,87.990000,2017.000000,8.000000,16.000000,9.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000
max,42.000000,30.000000,24390.0000,5.000000,40.000000,95.500000,2020.000000,10.000000,20.000000,12.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [379]:
# df1['Age'] = pd.cut(df1['Age'],bins=7,precision=0)             # gives very less weightage to few classes
df1['Age']=pd.qcut(df1['Age'],q=4,precision=0)

In [381]:
df1.head()

,Age,BiasInfluentialFactor,CurrentCTC,EmpID,EmpScore,ExpectedCTC,FitmentPercent,GraduationYear,JobProfileIDApplyingFor,LatestDegreeCGPA,TotalLeavesTaken,YearsOfExperince,CurrentCompanyType_Enterprise,CurrentCompanyType_MidSized,CurrentCompanyType_Startup,CurrentDesignation_BA,CurrentDesignation_DA,CurrentDesignation_DE,CurrentDesignation_DS,CurrentDesignation_EM,CurrentDesignation_SDE,CurrentDesignation_SEM,CurrentDesignation_SSE,DegreeBranch_Artificial Intelligence,DegreeBranch_Computer Science,DegreeBranch_Electrical,DegreeBranch_Electrical and Electronics,DegreeBranch_Electronics,DegreeBranch_Information Technology,DepartmentInCompany_Customer Success,DepartmentInCompany_Design,DepartmentInCompany_Engineering,DepartmentInCompany_Finance,DepartmentInCompany_Product,Gender_Female,Gender_Male,Gender_Other,GraduatingInstitute_Tier 1,GraduatingInstitute_Tier 2,GraduatingInstitute_Tier 3,HighestDegree_B.Tech,HighestDegree_BCA,HighestDegree_Dual M.Tech,HighestDegree_Dual MBA,HighestDegree_M.Tech,HighestDegree_MCA,HighestDegree_MS,HighestDegree_PhD,LanguageOfCommunication_English,LanguageOfCommunication_Hindi,LanguageOfCommunication_Native,MartialStatus_Married,MartialStatus_Single
0,"(34.0, 42.0]",YearsOfExperince,21,11041,5,26,95.40,2009,JR85289,7,20,12,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0
1,"(23.0, 28.0]",NaN,15,15079,5,19,67.09,2018,JR87525,7,6,3,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0
2,"(34.0, 42.0]",Gender,15,18638,5,24,91.26,2015,JR87525,6,19,6,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1
3,"(28.0, 31.0]",Gender,16,3941,5,24,72.29,2015,JR87525,5,16,6,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0
4,"(23.0, 28.0]",DegreeBranch,24,5936,5,32,86.34,2019,JR70175,8,10,2,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0

In [382]:
df2 = df1.copy()
# scaler = StandardScaler()


# df2['CurrentCTC'] = scaler.fit_transform(df2[['CurrentCTC']])
# df2['ExpectedCTC'] = scaler.fit_transform(df2[['ExpectedCTC']])
# df2['EmpScore'] = scaler.fit_transform(df2[['EmpScore']])
# df2['LatestDegreeCGPA'] = scaler.fit_transform(df2[['LatestDegreeCGPA']])
# df2['TotalLeavesTaken'] = scaler.fit_transform(df2[['TotalLeavesTaken']])
# df2['YearsOfExperince'] = scaler.fit_transform(df2[['YearsOfExperince']])

In [383]:
df2.drop(columns=['GraduationYear'],inplace=True)
df2.drop(columns=['JobProfileIDApplyingFor'],inplace=True)

In [384]:
for x in df2.columns:
    print(x,"-----------",df2[x].unique())

Age ----------- [(34.0, 42.0], (23.0, 28.0], (28.0, 31.0], (31.0, 34.0]]
Categories (4, interval[float64]): [(23.0, 28.0] < (28.0, 31.0] < (31.0, 34.0] < (34.0, 42.0]]
BiasInfluentialFactor ----------- ['YearsOfExperince' nan 'Gender' 'DegreeBranch' 'CurrentCompanyType'
 'MartialStatus' 'HighestDegree' 'EmpScore' 'Ethinicity'
 'LatestDegreeCGPA']
CurrentCTC ----------- [21 15 16 24 25 12  7  9 17 23 22 18  8 20 19 28 11 26 27  6 14 10 29 13
 30]
EmpID ----------- [11041 15079 18638 ... 16175 18458 10036]
EmpScore ----------- [5 4 3 2 1]
ExpectedCTC ----------- [26 19 24 32 29 21 17 28 31 16 33 27 18 15 22 37 23 35 25 13 20 14 36 12
 39 38 30 34 11 40 10]
FitmentPercent ----------- [95.4  67.09 91.26 ... 33.95 57.14   nan]
LatestDegreeCGPA ----------- [ 7  6  5  8  9  4 10]
TotalLeavesTaken ----------- [20  6 19 16 10  8 18  7  5 12  9 14 11 15 13  4 17]
YearsOfExperince ----------- [12  3  6  2  1  9  8  5  4  7 11 10]
CurrentCompanyType_Enterprise ----------- [1 0]
CurrentCompanyType_MidSized ----------- [0 1]
CurrentCompanyType_Startup ----------- [0 1]
CurrentDesignation_BA ----------- [0 1]
CurrentDesignation_DA ----------- [0 1]
CurrentDesignation_DE ----------- [0 1]
CurrentDesignation_DS ----------- [0 1]
CurrentDesignation_EM ----------- [0 1]
CurrentDesignation_SDE ----------- [0 1]
CurrentDesignation_SEM ----------- [0 1]
CurrentDesignation_SSE ----------- [1 0]
DegreeBranch_Artificial Intelligence ----------- [0 1]
DegreeBranch_Computer Science ----------- [0 1]
DegreeBranch_Electrical ----------- [1 0]
DegreeBranch_Electrical and Electronics ----------- [0 1]
DegreeBranch_Electronics ----------- [0 1]
DegreeBranch_Information Technology ----------- [0 1]
DepartmentInCompany_Customer Success ----------- [0 1]
DepartmentInCompany_Design ----------- [1 0]
DepartmentInCompany_Engineering ----------- [0 1]
DepartmentInCompany_Finance ----------- [0 1]
DepartmentInCompany_Product ----------- [0 1]
Gender_Female ----------- [0 1]
Gender_Male ----------- [1 0]
Gender_Other ----------- [0 1]
GraduatingInstitute_Tier 1 ----------- [1 0]
GraduatingInstitute_Tier 2 ----------- [0 1]
GraduatingInstitute_Tier 3 ----------- [0 1]
HighestDegree_B.Tech ----------- [1 0]
HighestDegree_BCA ----------- [0 1]
HighestDegree_Dual M.Tech ----------- [0 1]
HighestDegree_Dual MBA ----------- [0 1]
HighestDegree_M.Tech ----------- [0 1]
HighestDegree_MCA ----------- [0 1]
HighestDegree_MS ----------- [0 1]
HighestDegree_PhD ----------- [0 1]
LanguageOfCommunication_English ----------- [1 0]
LanguageOfCommunication_Hindi ----------- [0 1]
LanguageOfCommunication_Native ----------- [0 1]
MartialStatus_Married ----------- [1 0]
MartialStatus_Single ----------- [0 1]

In [ ]:
df2=pd.get_dummies(df2,columns = ['Age'],prefix_sep='_')
df2.head()

In [387]:
df2.FitmentPercent = df2.FitmentPercent / 100

In [540]:
df_train = df2[:13645]
df_test = df2[13645:]
df_test.drop(columns=['BiasInfluentialFactor','FitmentPercent'],inplace=True)

C:\Users\AHS\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [541]:
tgt = df_train[['FitmentPercent']]
tgt2 = df_train.loc[:,['BiasInfluentialFactor']]
# df_train.drop(columns=['EmpID','FitmentPercent','BiasInfluentialFactor'],inplace=True)
df_train.drop(columns=['EmpID','BiasInfluentialFactor'],inplace=True)           # use this & tgt2 for predicting BiasInfluentialFactor

In [542]:
df_train
tgt2
df_test

,CurrentCTC,EmpScore,ExpectedCTC,FitmentPercent,LatestDegreeCGPA,TotalLeavesTaken,YearsOfExperince,CurrentCompanyType_Enterprise,CurrentCompanyType_MidSized,CurrentCompanyType_Startup,CurrentDesignation_BA,CurrentDesignation_DA,CurrentDesignation_DE,CurrentDesignation_DS,CurrentDesignation_EM,CurrentDesignation_SDE,CurrentDesignation_SEM,CurrentDesignation_SSE,DegreeBranch_Artificial Intelligence,DegreeBranch_Computer Science,DegreeBranch_Electrical,DegreeBranch_Electrical and Electronics,DegreeBranch_Electronics,DegreeBranch_Information Technology,DepartmentInCompany_Customer Success,DepartmentInCompany_Design,DepartmentInCompany_Engineering,DepartmentInCompany_Finance,DepartmentInCompany_Product,Gender_Female,Gender_Male,Gender_Other,GraduatingInstitute_Tier 1,GraduatingInstitute_Tier 2,GraduatingInstitute_Tier 3,HighestDegree_B.Tech,HighestDegree_BCA,HighestDegree_Dual M.Tech,HighestDegree_Dual MBA,HighestDegree_M.Tech,HighestDegree_MCA,HighestDegree_MS,HighestDegree_PhD,LanguageOfCommunication_English,LanguageOfCommunication_Hindi,LanguageOfCommunication_Native,MartialStatus_Married,MartialStatus_Single,"Age_(23.0, 28.0]","Age_(28.0, 31.0]","Age_(31.0, 34.0]","Age_(34.0, 42.0]"
0,21,5,26,0.9540,7,20,12,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1
1,15,5,19,0.6709,7,6,3,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0
2,15,5,24,0.9126,6,19,6,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,1
3,16,5,24,0.7229,5,16,6,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0
4,24,5,32,0.8634,8,10,2,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13640,30,3,34,0.9365,7,5,2,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0
13641,22,4,28,0.5290,7,14,6,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,1,0,0
13642,8,4,16,0.6146,8,20,11,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1
13643,27,4,36,0.9364,4,7,1,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0
13644,17,3,24,0.9352,7,16,12,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1

      BiasInfluentialFactor
0          YearsOfExperince
1                       NaN
2                    Gender
3                    Gender
4              DegreeBranch
...                     ...
13640                Gender
13641                   NaN
13642    CurrentCompanyType
13643              EmpScore
13644      YearsOfExperince

[13645 rows x 1 columns]

,CurrentCTC,EmpID,EmpScore,ExpectedCTC,LatestDegreeCGPA,TotalLeavesTaken,YearsOfExperince,CurrentCompanyType_Enterprise,CurrentCompanyType_MidSized,CurrentCompanyType_Startup,CurrentDesignation_BA,CurrentDesignation_DA,CurrentDesignation_DE,CurrentDesignation_DS,CurrentDesignation_EM,CurrentDesignation_SDE,CurrentDesignation_SEM,CurrentDesignation_SSE,DegreeBranch_Artificial Intelligence,DegreeBranch_Computer Science,DegreeBranch_Electrical,DegreeBranch_Electrical and Electronics,DegreeBranch_Electronics,DegreeBranch_Information Technology,DepartmentInCompany_Customer Success,DepartmentInCompany_Design,DepartmentInCompany_Engineering,DepartmentInCompany_Finance,DepartmentInCompany_Product,Gender_Female,Gender_Male,Gender_Other,GraduatingInstitute_Tier 1,GraduatingInstitute_Tier 2,GraduatingInstitute_Tier 3,HighestDegree_B.Tech,HighestDegree_BCA,HighestDegree_Dual M.Tech,HighestDegree_Dual MBA,HighestDegree_M.Tech,HighestDegree_MCA,HighestDegree_MS,HighestDegree_PhD,LanguageOfCommunication_English,LanguageOfCommunication_Hindi,LanguageOfCommunication_Native,MartialStatus_Married,MartialStatus_Single,"Age_(23.0, 28.0]","Age_(28.0, 31.0]","Age_(31.0, 34.0]","Age_(34.0, 42.0]"
0,27,5664,4,34,5,18,5,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1
1,29,23568,4,33,9,8,12,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1
2,18,21490,3,25,9,18,2,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0
3,7,8363,5,12,8,17,11,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,1
4,22,6165,4,32,7,9,6,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8740,29,14758,5,38,10,10,3,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0
8741,18,23544,4,26,10,19,1,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,1,0,0,0
8742,7,16175,4,17,7,12,4,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0
8743,8,18458,4,18,7,10,7,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,1,0
8744,29,10036,3,34,9,10,3,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,1,1,0,0,0

In [543]:
tgt2.fillna('Unknown',inplace=True)
tgt2

      BiasInfluentialFactor
0          YearsOfExperince
1                   Unknown
2                    Gender
3                    Gender
4              DegreeBranch
...                     ...
13640                Gender
13641               Unknown
13642    CurrentCompanyType
13643              EmpScore
13644      YearsOfExperince

[13645 rows x 1 columns]

In [544]:
# bn = ce.BaseNEncoder(cols=['BiasInfluentialFactor'],return_df=True,base=10)
# lb = LabelBinarizer()             # MultiLabelBinarizer creates 36 columns for tgt (used for multi columns in tgt) , while LabelBinarizer creates just as per unique tgt label classes(10)(used for single label i.e. column but multi class)
# mlb = MultiLabelBinarizer()
# tgt1 = mlb.fit_transform(tgt) 

# ABOVE METHODS USED ONLY WHEN THERE ARE MULTILABLES(COLUMNS) IN TGT

In [545]:
#tgt11 = lb.fit_transform(tgt1)                #ValueError: Multioutput target data is not supported with label binarization ( use MultiLabel Binarization)

In [546]:
# tgt1
# tgt1.shape
# tgt2 = lb.inverse_transform(tgt1)
# tgt2

In [547]:
# X_train, X_test, y_train, y_test = train_test_split(df_train, tgt, test_size=0.25, random_state=0,shuffle=True)
X_train, X_test, y_train, y_test = train_test_split(df_train, tgt2, test_size=0.25, random_state=0,shuffle=True)   # use this & tgt2 for predicting BiasInfluentialFactor

In [548]:
# orc = OneVsRestClassifier(SVC(probability=True))

#for XGBregressor rename the age columns, otherwise getting following error [ValueError: feature_names must be string, and may not contain [, ] or <]
# X_train.columns
X_train.rename(columns={"Age_(23.0, 28.0]":"Age_23_28","Age_(28.0, 31.0]": "Age_28_31", "Age_(34.0, 42.0]": "Age_34_42", "Age_(31.0, 34.0]":"Age_31_34"},inplace=True)

X_test.rename(columns={"Age_(23.0, 28.0]":"Age_23_28","Age_(28.0, 31.0]": "Age_28_31", "Age_(34.0, 42.0]": "Age_34_42", "Age_(31.0, 34.0]":"Age_31_34"},inplace=True)

df_test.rename(columns={"Age_(23.0, 28.0]":"Age_23_28","Age_(28.0, 31.0]": "Age_28_31", "Age_(34.0, 42.0]": "Age_34_42", "Age_(31.0, 34.0]":"Age_31_34"},inplace=True)

C:\Users\AHS\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [569]:
xgb = XGBRegressor()                   # use this for predicting fitincrement
xclfovr = OneVsRestClassifier(XGBClassifier())   # use this for predicting BiasInfluentialFactor

In [ ]:
xclfovr.fit(X_train, y_train)
# xclf.fit(X_train, y_train)

C:\Users\AHS\anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[20:24:26] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [564]:
# y_pred = xgb.predict(X_test)
# np.sqrt(mean_squared_error(y_test,y_pred))

y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.9533997655334114

In [552]:
y_pred

array(['HighestDegree', 'EmpScore', 'DegreeBranch', ...,
       'LatestDegreeCGPA', 'EmpScore', 'Gender'], dtype='<U18')

In [565]:
df_test
X_test

,CurrentCTC,EmpScore,ExpectedCTC,LatestDegreeCGPA,TotalLeavesTaken,YearsOfExperince,CurrentCompanyType_Enterprise,CurrentCompanyType_MidSized,CurrentCompanyType_Startup,CurrentDesignation_BA,CurrentDesignation_DA,CurrentDesignation_DE,CurrentDesignation_DS,CurrentDesignation_EM,CurrentDesignation_SDE,CurrentDesignation_SEM,CurrentDesignation_SSE,DegreeBranch_Artificial Intelligence,DegreeBranch_Computer Science,DegreeBranch_Electrical,DegreeBranch_Electrical and Electronics,DegreeBranch_Electronics,DegreeBranch_Information Technology,DepartmentInCompany_Customer Success,DepartmentInCompany_Design,DepartmentInCompany_Engineering,DepartmentInCompany_Finance,DepartmentInCompany_Product,Gender_Female,Gender_Male,Gender_Other,GraduatingInstitute_Tier 1,GraduatingInstitute_Tier 2,GraduatingInstitute_Tier 3,HighestDegree_B.Tech,HighestDegree_BCA,HighestDegree_Dual M.Tech,HighestDegree_Dual MBA,HighestDegree_M.Tech,HighestDegree_MCA,HighestDegree_MS,HighestDegree_PhD,LanguageOfCommunication_English,LanguageOfCommunication_Hindi,LanguageOfCommunication_Native,MartialStatus_Married,MartialStatus_Single,Age_23_28,Age_28_31,Age_31_34,Age_34_42
EmpID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
5664,27,4,34,5,18,5,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1
23568,29,4,33,9,8,12,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1
21490,18,3,25,9,18,2,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0
8363,7,5,12,8,17,11,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,1
6165,22,4,32,7,9,6,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14758,29,5,38,10,10,3,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0
23544,18,4,26,10,19,1,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,1,0,0,0
16175,7,4,17,7,12,4,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0
18458,8,4,18,7,10,7,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,1,0
10036,29,3,34,9,10,3,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,1,1,0,0,0

,CurrentCTC,EmpScore,ExpectedCTC,FitmentPercent,LatestDegreeCGPA,TotalLeavesTaken,YearsOfExperince,CurrentCompanyType_Enterprise,CurrentCompanyType_MidSized,CurrentCompanyType_Startup,CurrentDesignation_BA,CurrentDesignation_DA,CurrentDesignation_DE,CurrentDesignation_DS,CurrentDesignation_EM,CurrentDesignation_SDE,CurrentDesignation_SEM,CurrentDesignation_SSE,DegreeBranch_Artificial Intelligence,DegreeBranch_Computer Science,DegreeBranch_Electrical,DegreeBranch_Electrical and Electronics,DegreeBranch_Electronics,DegreeBranch_Information Technology,DepartmentInCompany_Customer Success,DepartmentInCompany_Design,DepartmentInCompany_Engineering,DepartmentInCompany_Finance,DepartmentInCompany_Product,Gender_Female,Gender_Male,Gender_Other,GraduatingInstitute_Tier 1,GraduatingInstitute_Tier 2,GraduatingInstitute_Tier 3,HighestDegree_B.Tech,HighestDegree_BCA,HighestDegree_Dual M.Tech,HighestDegree_Dual MBA,HighestDegree_M.Tech,HighestDegree_MCA,HighestDegree_MS,HighestDegree_PhD,LanguageOfCommunication_English,LanguageOfCommunication_Hindi,LanguageOfCommunication_Native,MartialStatus_Married,MartialStatus_Single,Age_23_28,Age_28_31,Age_31_34,Age_34_42
9640,29,4,39,0.8636,6,7,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,1,0,0,0
3697,27,4,37,0.8852,7,4,12,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,1
2619,8,2,14,0.7836,5,4,4,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0
598,25,5,31,0.7926,9,15,7,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0
4499,15,4,21,0.9418,8,6,3,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
800,22,5,30,0.8552,7,12,4,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0
7571,12,4,19,0.8777,9,11,5,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0
11971,9,3,14,0.5090,9,19,3,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0
4433,10,4,15,0.8859,7,18,4,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0
12955,21,4,30,0.7128,8,12,2,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,1,0,0,0

In [ ]:
df_test.set_index('EmpID',inplace=True)

In [567]:
# predictions = xgb.predict(df_test)
# predictions = pd.DataFrame(predictions,columns=['FitmentPercent'])
predictions_clf = xclfovr.predict(df_test)
predictions_clf = pd.DataFrame(predictions_clf,columns=['BiasInfluentialFactor'])            # ValueError: Number of features of the model must match the input. Model n_features is 52 and input n_features is 51  (soln: use onevsrestclf with other estimator)

ValueError: Number of features of the model must match the input. Model n_features is 52 and input n_features is 51

In [497]:
predictions_clf

     BiasInfluentialFactor
0             DegreeBranch
1             DegreeBranch
2            MartialStatus
3                  Unknown
4                   Gender
...                    ...
8740                Gender
8741         HighestDegree
8742          DegreeBranch
8743               Unknown
8744          DegreeBranch

[8745 rows x 1 columns]

In [438]:
# pred_final = pd.concat([predictions_clf,predictions],axis=1)
# pred_final.loc[:,'EmpID'] = df_test.index
pred_final = pred_final[['EmpID','BiasInfluentialFactor','FitmentPercent']]

In [309]:
important_features = pd.Series(data=xgb.feature_importances_,index=df_test.columns)
important_features.sort_values(ascending=False,inplace=True)

In [310]:
important_features

Gender_Other                               0.261256
CurrentCompanyType_Enterprise              0.225392
Gender_Female                              0.195389
EmpScore                                   0.045891
Gender_Male                                0.038521
CurrentCTC                                 0.019761
Age_23_28                                  0.007194
Age_28_31                                  0.006432
Age_34_42                                  0.005801
CurrentDesignation_DE                      0.005763
DepartmentInCompany_Design                 0.005682
CurrentDesignation_SSE                     0.005454
DegreeBranch_Artificial Intelligence       0.005280
DepartmentInCompany_Finance                0.005220
MartialStatus_Married                      0.005197
Age_31_34                                  0.005187
CurrentDesignation_SDE                     0.005127
DegreeBranch_Electronics                   0.005121
DepartmentInCompany_Engineering            0.005047
DegreeBranch_Computer Science              0.005043
DegreeBranch_Information Technology        0.005031
YearsOfExperince                           0.005029
HighestDegree_PhD                          0.005022
DegreeBranch_Electrical                    0.004972
HighestDegree_BCA                          0.004946
GraduatingInstitute_Tier 2                 0.004938
DepartmentInCompany_Product                0.004935
ExpectedCTC                                0.004884
HighestDegree_B.Tech                       0.004855
GraduatingInstitute_Tier 3                 0.004825
CurrentDesignation_EM                      0.004781
CurrentDesignation_SEM                     0.004707
CurrentDesignation_BA                      0.004672
HighestDegree_Dual MBA                     0.004628
LanguageOfCommunication_Hindi              0.004616
DegreeBranch_Electrical and Electronics    0.004594
HighestDegree_M.Tech                       0.004589
HighestDegree_Dual M.Tech                  0.004498
TotalLeavesTaken                           0.004497
GraduatingInstitute_Tier 1                 0.004485
LatestDegreeCGPA                           0.004472
LanguageOfCommunication_Native             0.004389
DepartmentInCompany_Customer Success       0.004172
LanguageOfCommunication_English            0.004170
CurrentCompanyType_Startup                 0.004168
CurrentCompanyType_MidSized                0.004161
HighestDegree_MS                           0.003966
CurrentDesignation_DS                      0.003926
HighestDegree_MCA                          0.003882
CurrentDesignation_DA                      0.003432
MartialStatus_Single                       0.000000
dtype: float32

In [440]:
sub = pd.read_csv('sample submission.csv')
sub
pred_final

   EmpID BiasInfluentialFactor  FitmentPercent
0   5664         MaritalStatus           25.14
1  23568          DegreeBranch           91.44
2  21490         MartialStatus           76.92
3   8363         HighestDegree           77.92
4   6165                Gender           85.64
5  17679                   NaN           41.23
6   9715                   NaN           50.00

      EmpID BiasInfluentialFactor  FitmentPercent
0      5664                Gender        0.907006
1     23568                Gender        0.928133
2     21490                Gender        0.819439
3      8363                Gender        0.472048
4      6165            Ethinicity        0.825449
...     ...                   ...             ...
8740  14758              EmpScore        0.771957
8741  23544                Gender        0.765480
8742  16175                Gender        0.806399
8743  18458                Gender        0.557572
8744  10036         MartialStatus        0.541693

[8745 rows x 3 columns]

In [454]:
pred_final.to_csv('submission1.csv',index=False)