In [176]:
!pip install scikit-multilearn

Collecting scikit-multilearn
  Downloading scikit_multilearn-0.2.0-py3-none-any.whl (89 kB)
Installing collected packages: scikit-multilearn
Successfully installed scikit-multilearn-0.2.0

In [177]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
# from sklearn.preprocessing import
pd.options.display.max_columns = 100
from sklearn.preprocessing import StandardScaler,LabelEncoder
from skmultilearn.model_selection import iterative_train_test_split
import numpy as np

In [215]:
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor,BaggingClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import accuracy_score,roc_auc_score
from sklearn.linear_model import Lasso,LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from xgboost import XGBRegressor
from sklearn.multiclass import OneVsRestClassifier

In [8]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [9]:
data_tr = pd.read_csv("Train.csv")
data_ts = pd.read_csv("Test.csv")

In [16]:
data_tr.head()
data_ts.head()

,EmpID,EmpName,LanguageOfCommunication,Age,Gender,JobProfileIDApplyingFor,HighestDegree,DegreeBranch,GraduatingInstitute,LatestDegreeCGPA,YearsOfExperince,GraduationYear,CurrentCTC,ExpectedCTC,MartialStatus,EmpScore,CurrentDesignation,CurrentCompanyType,DepartmentInCompany,TotalLeavesTaken,BiasInfluentialFactor,FitmentPercent
0,11041,John,English,35,Male,JR85289,B.Tech,Electrical,Tier 1,7,12,2009,21,26,Married,5,SSE,Enterprise,Design,20,YearsOfExperince,95.40
1,15079,William,English,26,Male,JR87525,B.Tech,Artificial Intelligence,Tier 3,7,3,2018,15,19,Married,5,BA,MidSized,Engineering,6,NaN,67.09
2,18638,James,English,36,Female,JR87525,PhD,Computer Science,Tier 1,6,6,2015,15,24,Single,5,SDE,MidSized,Engineering,19,Gender,91.26
3,3941,Charles,English,29,Female,JR87525,BCA,Information Technology,Tier 2,5,6,2015,16,24,Married,5,SDE,Startup,Product,16,Gender,72.29
4,5936,George,English,25,Male,JR70175,Dual M.Tech,Computer Science,Tier 3,8,2,2019,24,32,Married,5,SDE,Enterprise,Engineering,10,DegreeBranch,86.34

,EmpID,EmpName,LanguageOfCommunication,Age,Gender,JobProfileIDApplyingFor,HighestDegree,DegreeBranch,GraduatingInstitute,LatestDegreeCGPA,YearsOfExperince,GraduationYear,CurrentCTC,ExpectedCTC,MartialStatus,EmpScore,CurrentDesignation,CurrentCompanyType,DepartmentInCompany,TotalLeavesTaken
0,5664,Theo,Native,35,Male,JR85289,PhD,Information Technology,Tier 2,5,5,2016,27,34,Single,4,SDE,Enterprise,Finance,18
1,23568,Vernie,English,35,Male,JR85289,B.Tech,Information Technology,Tier 3,9,12,2009,29,33,Married,4,EM,Enterprise,Engineering,8
2,21490,Wendell,English,28,Male,JR87525,M.Tech,Artificial Intelligence,Tier 2,9,2,2019,18,25,Married,3,SDE,Startup,Engineering,18
3,8363,West,Hindi,37,Male,JR87525,MS,Computer Science,Tier 2,8,11,2010,7,12,Single,5,DS,Enterprise,Product,17
4,6165,Alford,Hindi,36,Female,JR85289,PhD,Artificial Intelligence,Tier 2,7,6,2015,22,32,Married,4,SDE,Startup,Engineering,9

In [57]:
df = pd.concat([data_tr,data_ts],axis=0,sort=True)
df

,Age,BiasInfluentialFactor,CurrentCTC,CurrentCompanyType,CurrentDesignation,DegreeBranch,DepartmentInCompany,EmpID,EmpName,EmpScore,ExpectedCTC,FitmentPercent,Gender,GraduatingInstitute,GraduationYear,HighestDegree,JobProfileIDApplyingFor,LanguageOfCommunication,LatestDegreeCGPA,MartialStatus,TotalLeavesTaken,YearsOfExperince
0,35,YearsOfExperince,21,Enterprise,SSE,Electrical,Design,11041,John,5,26,95.40,Male,Tier 1,2009,B.Tech,JR85289,English,7,Married,20,12
1,26,NaN,15,MidSized,BA,Artificial Intelligence,Engineering,15079,William,5,19,67.09,Male,Tier 3,2018,B.Tech,JR87525,English,7,Married,6,3
2,36,Gender,15,MidSized,SDE,Computer Science,Engineering,18638,James,5,24,91.26,Female,Tier 1,2015,PhD,JR87525,English,6,Single,19,6
3,29,Gender,16,Startup,SDE,Information Technology,Product,3941,Charles,5,24,72.29,Female,Tier 2,2015,BCA,JR87525,English,5,Married,16,6
4,25,DegreeBranch,24,Enterprise,SDE,Computer Science,Engineering,5936,George,5,32,86.34,Male,Tier 3,2019,Dual M.Tech,JR70175,English,8,Married,10,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8740,26,NaN,29,Startup,SDE,Computer Science,Design,14758,Matt,5,38,NaN,Female,Tier 1,2018,B.Tech,JR85289,English,10,Married,10,3
8741,27,NaN,18,Startup,BA,Electrical,Design,23544,Salvatore,4,26,NaN,Male,Tier 1,2020,MS,JR85289,Hindi,10,Married,19,1
8742,27,NaN,7,Startup,SDE,Computer Science,Engineering,16175,Adrian,4,17,NaN,Male,Tier 2,2017,B.Tech,JR85289,English,7,Married,12,4
8743,33,NaN,8,Enterprise,SSE,Electrical and Electronics,Design,18458,Ambrose,4,18,NaN,Male,Tier 1,2014,MS,JR79193,English,7,Married,10,7
8744,26,NaN,29,Startup,SDE,Information Technology,Engineering,10036,Arther,3,34,NaN,Other,Tier 2,2018,Dual M.Tech,JR89890,Native,9,Single,10,3

In [58]:
df.drop(columns=['EmpID','EmpName'],inplace=True)

In [60]:
df.reset_index(drop=True,inplace=True)

In [61]:
df.head()

,Age,BiasInfluentialFactor,CurrentCTC,CurrentCompanyType,CurrentDesignation,DegreeBranch,DepartmentInCompany,EmpScore,ExpectedCTC,FitmentPercent,Gender,GraduatingInstitute,GraduationYear,HighestDegree,JobProfileIDApplyingFor,LanguageOfCommunication,LatestDegreeCGPA,MartialStatus,TotalLeavesTaken,YearsOfExperince
0,35,YearsOfExperince,21,Enterprise,SSE,Electrical,Design,5,26,95.40,Male,Tier 1,2009,B.Tech,JR85289,English,7,Married,20,12
1,26,NaN,15,MidSized,BA,Artificial Intelligence,Engineering,5,19,67.09,Male,Tier 3,2018,B.Tech,JR87525,English,7,Married,6,3
2,36,Gender,15,MidSized,SDE,Computer Science,Engineering,5,24,91.26,Female,Tier 1,2015,PhD,JR87525,English,6,Single,19,6
3,29,Gender,16,Startup,SDE,Information Technology,Product,5,24,72.29,Female,Tier 2,2015,BCA,JR87525,English,5,Married,16,6
4,25,DegreeBranch,24,Enterprise,SDE,Computer Science,Engineering,5,32,86.34,Male,Tier 3,2019,Dual M.Tech,JR70175,English,8,Married,10,2

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22390 entries, 0 to 22389
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      22390 non-null  int64
 1   BiasInfluentialFactor    10309 non-null  object
 2   CurrentCTC               22390 non-null  int64
 3   CurrentCompanyType       22390 non-null  object
 4   CurrentDesignation       22390 non-null  object
 5   DegreeBranch             22390 non-null  object
 6   DepartmentInCompany      22390 non-null  object
 7   EmpScore                 22390 non-null  int64
 8   ExpectedCTC              22390 non-null  int64
 9   FitmentPercent           13645 non-null  float64
 10  Gender                   22390 non-null  object
 11  GraduatingInstitute      22390 non-null  object
 12  GraduationYear           22390 non-null  int64
 13  HighestDegree            22390 non-null  object
 14  JobProfileIDApplyingFor  22390 non-null  object
 15  LanguageOfCommunication  22390 non-null  object
 16  LatestDegreeCGPA         22390 non-null  int64
 17  MartialStatus            22390 non-null  object
 18  TotalLeavesTaken         22390 non-null  int64
 19  YearsOfExperince         22390 non-null  int64
dtypes: float64(1), int64(8), object(11)
memory usage: 3.4+ MB

In [64]:
df.isna().sum()

Age                            0
BiasInfluentialFactor      12081
CurrentCTC                     0
CurrentCompanyType             0
CurrentDesignation             0
DegreeBranch                   0
DepartmentInCompany            0
EmpScore                       0
ExpectedCTC                    0
FitmentPercent              8745
Gender                         0
GraduatingInstitute            0
GraduationYear                 0
HighestDegree                  0
JobProfileIDApplyingFor        0
LanguageOfCommunication        0
LatestDegreeCGPA               0
MartialStatus                  0
TotalLeavesTaken               0
YearsOfExperince               0
dtype: int64

In [65]:
for x in df.columns:
    print(x,"--",df[x].unique())

Age -- [35 26 36 29 25 31 32 28 30 27 34 33 24 37 38 42 41 40 39]
BiasInfluentialFactor -- ['YearsOfExperince' nan 'Gender' 'DegreeBranch' 'CurrentCompanyType'
 'MartialStatus' 'HighestDegree' 'EmpScore' 'Ethinicity'
 'LatestDegreeCGPA']
CurrentCTC -- [21 15 16 24 25 12  7  9 17 23 22 18  8 20 19 28 11 26 27  6 14 10 29 13
 30]
CurrentCompanyType -- ['Enterprise' 'MidSized' 'Startup']
CurrentDesignation -- ['SSE' 'BA' 'SDE' 'DS' 'EM' 'DA' 'SEM' 'DE']
DegreeBranch -- ['Electrical' 'Artificial Intelligence' 'Computer Science'
 'Information Technology' 'Electronics' 'Electrical and Electronics']
DepartmentInCompany -- ['Design' 'Engineering' 'Product' 'Customer Success' 'Finance']
EmpScore -- [5 4 3 2 1]
ExpectedCTC -- [26 19 24 32 29 21 17 28 31 16 33 27 18 15 22 37 23 35 25 13 20 14 36 12
 39 38 30 34 11 40 10]
FitmentPercent -- [95.4  67.09 91.26 ... 33.95 57.14   nan]
Gender -- ['Male' 'Female' 'Other']
GraduatingInstitute -- ['Tier 1' 'Tier 3' 'Tier 2']
GraduationYear -- [2009 2018 2015 2019 2020 2012 2013 2016 2017 2014 2010 2011]
HighestDegree -- ['B.Tech' 'PhD' 'BCA' 'Dual M.Tech' 'M.Tech' 'MS' 'Dual MBA' 'MCA']
JobProfileIDApplyingFor -- ['JR85289' 'JR87525' 'JR70175' 'JR88879' 'JR88873' 'JR89890' 'JR81165'
 'JR79193' 'JR88654']
LanguageOfCommunication -- ['English' 'Native' 'Hindi']
LatestDegreeCGPA -- [ 7  6  5  8  9  4 10]
MartialStatus -- ['Married' 'Single']
TotalLeavesTaken -- [20  6 19 16 10  8 18  7  5 12  9 14 11 15 13  4 17]
YearsOfExperince -- [12  3  6  2  1  9  8  5  4  7 11 10]

In [125]:
df1=pd.get_dummies(df,columns = ['CurrentCompanyType','CurrentDesignation','DegreeBranch','DepartmentInCompany','Gender','GraduatingInstitute','HighestDegree','LanguageOfCommunication','MartialStatus'],prefix_sep='_')

In [126]:
df1

,Age,BiasInfluentialFactor,CurrentCTC,EmpScore,ExpectedCTC,FitmentPercent,GraduationYear,JobProfileIDApplyingFor,LatestDegreeCGPA,TotalLeavesTaken,YearsOfExperince,CurrentCompanyType_Enterprise,CurrentCompanyType_MidSized,CurrentCompanyType_Startup,CurrentDesignation_BA,CurrentDesignation_DA,CurrentDesignation_DE,CurrentDesignation_DS,CurrentDesignation_EM,CurrentDesignation_SDE,CurrentDesignation_SEM,CurrentDesignation_SSE,DegreeBranch_Artificial Intelligence,DegreeBranch_Computer Science,DegreeBranch_Electrical,DegreeBranch_Electrical and Electronics,DegreeBranch_Electronics,DegreeBranch_Information Technology,DepartmentInCompany_Customer Success,DepartmentInCompany_Design,DepartmentInCompany_Engineering,DepartmentInCompany_Finance,DepartmentInCompany_Product,Gender_Female,Gender_Male,Gender_Other,GraduatingInstitute_Tier 1,GraduatingInstitute_Tier 2,GraduatingInstitute_Tier 3,HighestDegree_B.Tech,HighestDegree_BCA,HighestDegree_Dual M.Tech,HighestDegree_Dual MBA,HighestDegree_M.Tech,HighestDegree_MCA,HighestDegree_MS,HighestDegree_PhD,LanguageOfCommunication_English,LanguageOfCommunication_Hindi,LanguageOfCommunication_Native,MartialStatus_Married,MartialStatus_Single
0,35,YearsOfExperince,21,5,26,95.40,2009,JR85289,7,20,12,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0
1,26,NaN,15,5,19,67.09,2018,JR87525,7,6,3,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0
2,36,Gender,15,5,24,91.26,2015,JR87525,6,19,6,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1
3,29,Gender,16,5,24,72.29,2015,JR87525,5,16,6,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0
4,25,DegreeBranch,24,5,32,86.34,2019,JR70175,8,10,2,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22385,26,NaN,29,5,38,NaN,2018,JR85289,10,10,3,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0
22386,27,NaN,18,4,26,NaN,2020,JR85289,10,19,1,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0
22387,27,NaN,7,4,17,NaN,2017,JR85289,7,12,4,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,1,0
22388,33,NaN,8,4,18,NaN,2014,JR79193,7,10,7,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0
22389,26,NaN,29,3,34,NaN,2018,JR89890,9,10,3,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,1

In [127]:
df1.describe()

,Age,CurrentCTC,EmpScore,ExpectedCTC,FitmentPercent,GraduationYear,LatestDegreeCGPA,TotalLeavesTaken,YearsOfExperince,CurrentCompanyType_Enterprise,CurrentCompanyType_MidSized,CurrentCompanyType_Startup,CurrentDesignation_BA,CurrentDesignation_DA,CurrentDesignation_DE,CurrentDesignation_DS,CurrentDesignation_EM,CurrentDesignation_SDE,CurrentDesignation_SEM,CurrentDesignation_SSE,DegreeBranch_Artificial Intelligence,DegreeBranch_Computer Science,DegreeBranch_Electrical,DegreeBranch_Electrical and Electronics,DegreeBranch_Electronics,DegreeBranch_Information Technology,DepartmentInCompany_Customer Success,DepartmentInCompany_Design,DepartmentInCompany_Engineering,DepartmentInCompany_Finance,DepartmentInCompany_Product,Gender_Female,Gender_Male,Gender_Other,GraduatingInstitute_Tier 1,GraduatingInstitute_Tier 2,GraduatingInstitute_Tier 3,HighestDegree_B.Tech,HighestDegree_BCA,HighestDegree_Dual M.Tech,HighestDegree_Dual MBA,HighestDegree_M.Tech,HighestDegree_MCA,HighestDegree_MS,HighestDegree_PhD,LanguageOfCommunication_English,LanguageOfCommunication_Hindi,LanguageOfCommunication_Native,MartialStatus_Married,MartialStatus_Single
count,22390.000000,22390.000000,22390.000000,22390.000000,13645.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000,22390.000000
mean,30.685083,18.054444,3.390576,25.049129,75.880093,2014.484725,7.104600,11.950692,6.515275,0.320277,0.217731,0.461992,0.122912,0.019875,0.010138,0.128182,0.100804,0.394596,0.020009,0.203484,0.150826,0.347164,0.131041,0.029433,0.122063,0.219473,0.116927,0.320768,0.421215,0.051273,0.089817,0.313667,0.615498,0.070835,0.347834,0.452211,0.199955,0.407146,0.120858,0.098794,0.047879,0.149844,0.009781,0.117240,0.048459,0.548504,0.349308,0.102188,0.719830,0.280170
std,3.901991,7.186951,1.049650,7.452855,14.894207,3.439259,1.343285,4.909888,3.439259,0.466593,0.412713,0.498564,0.328344,0.139574,0.100180,0.334300,0.301076,0.488775,0.140034,0.402598,0.357887,0.476079,0.337452,0.169020,0.327366,0.413899,0.321341,0.466782,0.493765,0.220559,0.285926,0.463993,0.486488,0.256555,0.476294,0.497722,0.399975,0.491313,0.325969,0.298392,0.213514,0.356926,0.098417,0.321713,0.214739,0.497653,0.476762,0.302903,0.449092,0.449092
min,24.000000,6.000000,1.000000,10.000000,33.530000,2009.000000,4.000000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,28.000000,12.000000,3.000000,19.000000,68.720000,2012.000000,6.000000,8.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,31.000000,18.000000,3.000000,25.000000,78.110000,2015.000000,7.000000,12.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,34.000000,24.000000,4.000000,31.000000,87.990000,2017.000000,8.000000,16.000000,9.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000
max,42.000000,30.000000,5.000000,40.000000,95.500000,2020.000000,10.000000,20.000000,12.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [128]:
# df1['Age'] = pd.cut(df1['Age'],bins=7,precision=0)
df1['Age']=pd.qcut(df1['Age'],q=4,precision=0)

# df1['CurrentCTC']=pd.qcut(df1['CurrentCTC'],q=10,precision=0)

# df1['ExpectedCTC']=pd.qcut(df1['ExpectedCTC'],q=10,precision=0)

In [129]:
df1.head()

,Age,BiasInfluentialFactor,CurrentCTC,EmpScore,ExpectedCTC,FitmentPercent,GraduationYear,JobProfileIDApplyingFor,LatestDegreeCGPA,TotalLeavesTaken,YearsOfExperince,CurrentCompanyType_Enterprise,CurrentCompanyType_MidSized,CurrentCompanyType_Startup,CurrentDesignation_BA,CurrentDesignation_DA,CurrentDesignation_DE,CurrentDesignation_DS,CurrentDesignation_EM,CurrentDesignation_SDE,CurrentDesignation_SEM,CurrentDesignation_SSE,DegreeBranch_Artificial Intelligence,DegreeBranch_Computer Science,DegreeBranch_Electrical,DegreeBranch_Electrical and Electronics,DegreeBranch_Electronics,DegreeBranch_Information Technology,DepartmentInCompany_Customer Success,DepartmentInCompany_Design,DepartmentInCompany_Engineering,DepartmentInCompany_Finance,DepartmentInCompany_Product,Gender_Female,Gender_Male,Gender_Other,GraduatingInstitute_Tier 1,GraduatingInstitute_Tier 2,GraduatingInstitute_Tier 3,HighestDegree_B.Tech,HighestDegree_BCA,HighestDegree_Dual M.Tech,HighestDegree_Dual MBA,HighestDegree_M.Tech,HighestDegree_MCA,HighestDegree_MS,HighestDegree_PhD,LanguageOfCommunication_English,LanguageOfCommunication_Hindi,LanguageOfCommunication_Native,MartialStatus_Married,MartialStatus_Single
0,"(34.0, 42.0]",YearsOfExperince,21,5,26,95.40,2009,JR85289,7,20,12,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0
1,"(23.0, 28.0]",NaN,15,5,19,67.09,2018,JR87525,7,6,3,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0
2,"(34.0, 42.0]",Gender,15,5,24,91.26,2015,JR87525,6,19,6,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1
3,"(28.0, 31.0]",Gender,16,5,24,72.29,2015,JR87525,5,16,6,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0
4,"(23.0, 28.0]",DegreeBranch,24,5,32,86.34,2019,JR70175,8,10,2,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0

In [133]:
df2 = df1.copy()
scaler = StandardScaler()


df2['CurrentCTC'] = scaler.fit_transform(df2[['CurrentCTC']])
df2['ExpectedCTC'] = scaler.fit_transform(df2[['ExpectedCTC']])
df2['EmpScore'] = scaler.fit_transform(df2[['EmpScore']])
df2['LatestDegreeCGPA'] = scaler.fit_transform(df2[['LatestDegreeCGPA']])
df2['TotalLeavesTaken'] = scaler.fit_transform(df2[['TotalLeavesTaken']])
df2['YearsOfExperince'] = scaler.fit_transform(df2[['YearsOfExperince']])

In [134]:
df2.drop(columns=['GraduationYear'],inplace=True)
df2.drop(columns=['JobProfileIDApplyingFor'],inplace=True)

In [135]:
for x in df2.columns:
    print(x,"-----------",df2[x].unique())

Age ----------- [(34.0, 42.0], (23.0, 28.0], (28.0, 31.0], (31.0, 34.0]]
Categories (4, interval[float64]): [(23.0, 28.0] < (28.0, 31.0] < (31.0, 34.0] < (34.0, 42.0]]
BiasInfluentialFactor ----------- ['YearsOfExperince' nan 'Gender' 'DegreeBranch' 'CurrentCompanyType'
 'MartialStatus' 'HighestDegree' 'EmpScore' 'Ethinicity'
 'LatestDegreeCGPA']
CurrentCTC ----------- [ 0.40985694 -0.42500805 -0.28586389  0.82728943  0.9664336  -0.84244055
 -1.53816138 -1.25987305 -0.14671972  0.68814527  0.5490011  -0.00757556
 -1.39901721  0.27071277  0.13156861  1.3838661  -0.98158471  1.10557776
  1.24472193 -1.67730554 -0.56415222 -1.12072888  1.52301026 -0.70329638
  1.66215443]
EmpScore ----------- [ 1.5333302   0.58061026 -0.37210969 -1.32482963 -2.27754958]
ExpectedCTC ----------- [ 0.12758764 -0.81167075 -0.1407719   0.93266627  0.53012696 -0.54331121
 -1.0800303   0.39594719  0.7984865  -1.21421007  1.06684604  0.26176741
 -0.94585053 -1.34838984 -0.40913144  1.60356513 -0.27495167  1.33520558
 -0.00659213 -1.61674938 -0.67749098 -1.48256961  1.46938535 -1.75092915
  1.87192467  1.7377449   0.66430673  1.20102581 -1.88510892  2.00610444
 -2.01928869]
FitmentPercent ----------- [95.4  67.09 91.26 ... 33.95 57.14   nan]
LatestDegreeCGPA ----------- [-0.07787076 -0.82233115 -1.56679155  0.66658964  1.41105003 -2.31125194
  2.15551043]
TotalLeavesTaken ----------- [ 1.63944431 -1.2120084   1.43576912  0.82474354 -0.39730763 -0.80465801
  1.23209392 -1.00833321 -1.4156836   0.01004276 -0.60098282  0.41739315
 -0.19363243  0.62106834  0.21371795 -1.61935879  1.02841873]
YearsOfExperince ----------- [ 1.59477623 -1.02212529 -0.14982479 -1.31289213 -1.60365897  0.72247572
  0.43170888 -0.44059162 -0.73135846  0.14094205  1.30400939  1.01324256]
CurrentCompanyType_Enterprise ----------- [1 0]
CurrentCompanyType_MidSized ----------- [0 1]
CurrentCompanyType_Startup ----------- [0 1]
CurrentDesignation_BA ----------- [0 1]
CurrentDesignation_DA ----------- [0 1]
CurrentDesignation_DE ----------- [0 1]
CurrentDesignation_DS ----------- [0 1]
CurrentDesignation_EM ----------- [0 1]
CurrentDesignation_SDE ----------- [0 1]
CurrentDesignation_SEM ----------- [0 1]
CurrentDesignation_SSE ----------- [1 0]
DegreeBranch_Artificial Intelligence ----------- [0 1]
DegreeBranch_Computer Science ----------- [0 1]
DegreeBranch_Electrical ----------- [1 0]
DegreeBranch_Electrical and Electronics ----------- [0 1]
DegreeBranch_Electronics ----------- [0 1]
DegreeBranch_Information Technology ----------- [0 1]
DepartmentInCompany_Customer Success ----------- [0 1]
DepartmentInCompany_Design ----------- [1 0]
DepartmentInCompany_Engineering ----------- [0 1]
DepartmentInCompany_Finance ----------- [0 1]
DepartmentInCompany_Product ----------- [0 1]
Gender_Female ----------- [0 1]
Gender_Male ----------- [1 0]
Gender_Other ----------- [0 1]
GraduatingInstitute_Tier 1 ----------- [1 0]
GraduatingInstitute_Tier 2 ----------- [0 1]
GraduatingInstitute_Tier 3 ----------- [0 1]
HighestDegree_B.Tech ----------- [1 0]
HighestDegree_BCA ----------- [0 1]
HighestDegree_Dual M.Tech ----------- [0 1]
HighestDegree_Dual MBA ----------- [0 1]
HighestDegree_M.Tech ----------- [0 1]
HighestDegree_MCA ----------- [0 1]
HighestDegree_MS ----------- [0 1]
HighestDegree_PhD ----------- [0 1]
LanguageOfCommunication_English ----------- [1 0]
LanguageOfCommunication_Hindi ----------- [0 1]
LanguageOfCommunication_Native ----------- [0 1]
MartialStatus_Married ----------- [1 0]
MartialStatus_Single ----------- [0 1]

In [136]:
df2=pd.get_dummies(df2,columns = ['Age'],prefix_sep='_')
df2.head()

,BiasInfluentialFactor,CurrentCTC,EmpScore,ExpectedCTC,FitmentPercent,LatestDegreeCGPA,TotalLeavesTaken,YearsOfExperince,CurrentCompanyType_Enterprise,CurrentCompanyType_MidSized,CurrentCompanyType_Startup,CurrentDesignation_BA,CurrentDesignation_DA,CurrentDesignation_DE,CurrentDesignation_DS,CurrentDesignation_EM,CurrentDesignation_SDE,CurrentDesignation_SEM,CurrentDesignation_SSE,DegreeBranch_Artificial Intelligence,DegreeBranch_Computer Science,DegreeBranch_Electrical,DegreeBranch_Electrical and Electronics,DegreeBranch_Electronics,DegreeBranch_Information Technology,DepartmentInCompany_Customer Success,DepartmentInCompany_Design,DepartmentInCompany_Engineering,DepartmentInCompany_Finance,DepartmentInCompany_Product,Gender_Female,Gender_Male,Gender_Other,GraduatingInstitute_Tier 1,GraduatingInstitute_Tier 2,GraduatingInstitute_Tier 3,HighestDegree_B.Tech,HighestDegree_BCA,HighestDegree_Dual M.Tech,HighestDegree_Dual MBA,HighestDegree_M.Tech,HighestDegree_MCA,HighestDegree_MS,HighestDegree_PhD,LanguageOfCommunication_English,LanguageOfCommunication_Hindi,LanguageOfCommunication_Native,MartialStatus_Married,MartialStatus_Single,"Age_(23.0, 28.0]","Age_(28.0, 31.0]","Age_(31.0, 34.0]","Age_(34.0, 42.0]"
0,YearsOfExperince,0.409857,1.53333,0.127588,95.40,-0.077871,1.639444,1.594776,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1
1,NaN,-0.425008,1.53333,-0.811671,67.09,-0.077871,-1.212008,-1.022125,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0
2,Gender,-0.425008,1.53333,-0.140772,91.26,-0.822331,1.435769,-0.149825,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,1
3,Gender,-0.285864,1.53333,-0.140772,72.29,-1.566792,0.824744,-0.149825,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0
4,DegreeBranch,0.827289,1.53333,0.932666,86.34,0.666590,-0.397308,-1.312892,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,1,0,0,0

In [140]:
df2.FitmentPercent = df2.FitmentPercent / 100

In [143]:
df2.iloc[13642:]

,BiasInfluentialFactor,CurrentCTC,EmpScore,ExpectedCTC,FitmentPercent,LatestDegreeCGPA,TotalLeavesTaken,YearsOfExperince,CurrentCompanyType_Enterprise,CurrentCompanyType_MidSized,CurrentCompanyType_Startup,CurrentDesignation_BA,CurrentDesignation_DA,CurrentDesignation_DE,CurrentDesignation_DS,CurrentDesignation_EM,CurrentDesignation_SDE,CurrentDesignation_SEM,CurrentDesignation_SSE,DegreeBranch_Artificial Intelligence,DegreeBranch_Computer Science,DegreeBranch_Electrical,DegreeBranch_Electrical and Electronics,DegreeBranch_Electronics,DegreeBranch_Information Technology,DepartmentInCompany_Customer Success,DepartmentInCompany_Design,DepartmentInCompany_Engineering,DepartmentInCompany_Finance,DepartmentInCompany_Product,Gender_Female,Gender_Male,Gender_Other,GraduatingInstitute_Tier 1,GraduatingInstitute_Tier 2,GraduatingInstitute_Tier 3,HighestDegree_B.Tech,HighestDegree_BCA,HighestDegree_Dual M.Tech,HighestDegree_Dual MBA,HighestDegree_M.Tech,HighestDegree_MCA,HighestDegree_MS,HighestDegree_PhD,LanguageOfCommunication_English,LanguageOfCommunication_Hindi,LanguageOfCommunication_Native,MartialStatus_Married,MartialStatus_Single,"Age_(23.0, 28.0]","Age_(28.0, 31.0]","Age_(31.0, 34.0]","Age_(34.0, 42.0]"
13642,CurrentCompanyType,-1.399017,0.58061,-1.214210,0.6146,0.666590,1.639444,1.304009,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1
13643,EmpScore,1.244722,0.58061,1.469385,0.9364,-2.311252,-1.008333,-1.603659,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0
13644,YearsOfExperince,-0.146720,-0.37211,-0.140772,0.9352,-0.077871,0.824744,1.594776,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1
13645,NaN,1.244722,0.58061,1.201026,NaN,-1.566792,1.232094,-0.440592,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1
13646,NaN,1.523010,0.58061,1.066846,NaN,1.411050,-0.804658,1.594776,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22385,NaN,1.523010,1.53333,1.737745,NaN,2.155510,-0.397308,-1.022125,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0
22386,NaN,-0.007576,0.58061,0.127588,NaN,2.155510,1.435769,-1.603659,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,1,0,0,0
22387,NaN,-1.538161,0.58061,-1.080030,NaN,-0.077871,0.010043,-0.731358,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0
22388,NaN,-1.399017,0.58061,-0.945851,NaN,-0.077871,-0.397308,0.140942,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,1,0
22389,NaN,1.523010,-0.37211,1.201026,NaN,1.411050,-0.397308,-1.022125,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,1,1,0,0,0

In [146]:
df_train = df2[:13645]
df_test = df2[13645:]
df_test.drop(columns=['BiasInfluentialFactor','FitmentPercent'],inplace=True)

C:\Users\AHS\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [151]:
# tgt = df_train.loc[:,['BiasInfluentialFactor','FitmentPercent']]
df_train.drop(columns=['BiasInfluentialFactor','FitmentPercent'],inplace=True)

C:\Users\AHS\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [152]:
df_train
df_test
tgt

,CurrentCTC,EmpScore,ExpectedCTC,LatestDegreeCGPA,TotalLeavesTaken,YearsOfExperince,CurrentCompanyType_Enterprise,CurrentCompanyType_MidSized,CurrentCompanyType_Startup,CurrentDesignation_BA,CurrentDesignation_DA,CurrentDesignation_DE,CurrentDesignation_DS,CurrentDesignation_EM,CurrentDesignation_SDE,CurrentDesignation_SEM,CurrentDesignation_SSE,DegreeBranch_Artificial Intelligence,DegreeBranch_Computer Science,DegreeBranch_Electrical,DegreeBranch_Electrical and Electronics,DegreeBranch_Electronics,DegreeBranch_Information Technology,DepartmentInCompany_Customer Success,DepartmentInCompany_Design,DepartmentInCompany_Engineering,DepartmentInCompany_Finance,DepartmentInCompany_Product,Gender_Female,Gender_Male,Gender_Other,GraduatingInstitute_Tier 1,GraduatingInstitute_Tier 2,GraduatingInstitute_Tier 3,HighestDegree_B.Tech,HighestDegree_BCA,HighestDegree_Dual M.Tech,HighestDegree_Dual MBA,HighestDegree_M.Tech,HighestDegree_MCA,HighestDegree_MS,HighestDegree_PhD,LanguageOfCommunication_English,LanguageOfCommunication_Hindi,LanguageOfCommunication_Native,MartialStatus_Married,MartialStatus_Single,"Age_(23.0, 28.0]","Age_(28.0, 31.0]","Age_(31.0, 34.0]","Age_(34.0, 42.0]"
0,0.409857,1.53333,0.127588,-0.077871,1.639444,1.594776,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1
1,-0.425008,1.53333,-0.811671,-0.077871,-1.212008,-1.022125,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0
2,-0.425008,1.53333,-0.140772,-0.822331,1.435769,-0.149825,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,1
3,-0.285864,1.53333,-0.140772,-1.566792,0.824744,-0.149825,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0
4,0.827289,1.53333,0.932666,0.666590,-0.397308,-1.312892,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13640,1.662154,-0.37211,1.201026,-0.077871,-1.415684,-1.312892,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0
13641,0.549001,0.58061,0.395947,-0.077871,0.417393,-0.149825,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,1,0,0
13642,-1.399017,0.58061,-1.214210,0.666590,1.639444,1.304009,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1
13643,1.244722,0.58061,1.469385,-2.311252,-1.008333,-1.603659,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0
13644,-0.146720,-0.37211,-0.140772,-0.077871,0.824744,1.594776,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1

,CurrentCTC,EmpScore,ExpectedCTC,LatestDegreeCGPA,TotalLeavesTaken,YearsOfExperince,CurrentCompanyType_Enterprise,CurrentCompanyType_MidSized,CurrentCompanyType_Startup,CurrentDesignation_BA,CurrentDesignation_DA,CurrentDesignation_DE,CurrentDesignation_DS,CurrentDesignation_EM,CurrentDesignation_SDE,CurrentDesignation_SEM,CurrentDesignation_SSE,DegreeBranch_Artificial Intelligence,DegreeBranch_Computer Science,DegreeBranch_Electrical,DegreeBranch_Electrical and Electronics,DegreeBranch_Electronics,DegreeBranch_Information Technology,DepartmentInCompany_Customer Success,DepartmentInCompany_Design,DepartmentInCompany_Engineering,DepartmentInCompany_Finance,DepartmentInCompany_Product,Gender_Female,Gender_Male,Gender_Other,GraduatingInstitute_Tier 1,GraduatingInstitute_Tier 2,GraduatingInstitute_Tier 3,HighestDegree_B.Tech,HighestDegree_BCA,HighestDegree_Dual M.Tech,HighestDegree_Dual MBA,HighestDegree_M.Tech,HighestDegree_MCA,HighestDegree_MS,HighestDegree_PhD,LanguageOfCommunication_English,LanguageOfCommunication_Hindi,LanguageOfCommunication_Native,MartialStatus_Married,MartialStatus_Single,"Age_(23.0, 28.0]","Age_(28.0, 31.0]","Age_(31.0, 34.0]","Age_(34.0, 42.0]"
13645,1.244722,0.58061,1.201026,-1.566792,1.232094,-0.440592,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1
13646,1.523010,0.58061,1.066846,1.411050,-0.804658,1.594776,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1
13647,-0.007576,-0.37211,-0.006592,1.411050,1.232094,-1.312892,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0
13648,-1.538161,1.53333,-1.750929,0.666590,1.028419,1.304009,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,1
13649,0.549001,0.58061,0.932666,-0.077871,-0.600983,-0.149825,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22385,1.523010,1.53333,1.737745,2.155510,-0.397308,-1.022125,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0
22386,-0.007576,0.58061,0.127588,2.155510,1.435769,-1.603659,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,1,0,0,0
22387,-1.538161,0.58061,-1.080030,-0.077871,0.010043,-0.731358,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0
22388,-1.399017,0.58061,-0.945851,-0.077871,-0.397308,0.140942,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,1,0
22389,1.523010,-0.37211,1.201026,1.411050,-0.397308,-1.022125,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,1,1,0,0,0

      BiasInfluentialFactor  FitmentPercent
0          YearsOfExperince          0.9540
1                       NaN          0.6709
2                    Gender          0.9126
3                    Gender          0.7229
4              DegreeBranch          0.8634
...                     ...             ...
13640                Gender          0.9365
13641                   NaN          0.5290
13642    CurrentCompanyType          0.6146
13643              EmpScore          0.9364
13644      YearsOfExperince          0.9352

[13645 rows x 2 columns]

In [183]:
# tgt.fillna('Unknown',inplace=True)
tgt

      BiasInfluentialFactor  FitmentPercent
0          YearsOfExperince          0.9540
1                   Unknown          0.6709
2                    Gender          0.9126
3                    Gender          0.7229
4              DegreeBranch          0.8634
...                     ...             ...
13640                Gender          0.9365
13641               Unknown          0.5290
13642    CurrentCompanyType          0.6146
13643              EmpScore          0.9364
13644      YearsOfExperince          0.9352

[13645 rows x 2 columns]

In [189]:
X_train, X_test, y_train, y_test = train_test_split(df_train.to_numpy(), tgt.to_numpy(), test_size=0.25, random_state=0,shuffle=True)

In [216]:
lr = XGBRegressor()
orc = OneVsRestClassifier(lr)

In [217]:
orc.fit(X_train, y_train)

TypeError: '<' not supported between instances of 'float' and 'str'

In [208]:
np.where(X_train==0.27071277)

(array([], dtype=int64), array([], dtype=int64))

In [211]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13645 entries, 0 to 13644
Data columns (total 51 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   CurrentCTC                               13645 non-null  float64
 1   EmpScore                                 13645 non-null  float64
 2   ExpectedCTC                              13645 non-null  float64
 3   LatestDegreeCGPA                         13645 non-null  float64
 4   TotalLeavesTaken                         13645 non-null  float64
 5   YearsOfExperince                         13645 non-null  float64
 6   CurrentCompanyType_Enterprise            13645 non-null  uint8
 7   CurrentCompanyType_MidSized              13645 non-null  uint8
 8   CurrentCompanyType_Startup               13645 non-null  uint8
 9   CurrentDesignation_BA                    13645 non-null  uint8
 10  CurrentDesignation_DA                    13645 non-null  uint8
 11  CurrentDesignation_DE                    13645 non-null  uint8
 12  CurrentDesignation_DS                    13645 non-null  uint8
 13  CurrentDesignation_EM                    13645 non-null  uint8
 14  CurrentDesignation_SDE                   13645 non-null  uint8
 15  CurrentDesignation_SEM                   13645 non-null  uint8
 16  CurrentDesignation_SSE                   13645 non-null  uint8
 17  DegreeBranch_Artificial Intelligence     13645 non-null  uint8
 18  DegreeBranch_Computer Science            13645 non-null  uint8
 19  DegreeBranch_Electrical                  13645 non-null  uint8
 20  DegreeBranch_Electrical and Electronics  13645 non-null  uint8
 21  DegreeBranch_Electronics                 13645 non-null  uint8
 22  DegreeBranch_Information Technology      13645 non-null  uint8
 23  DepartmentInCompany_Customer Success     13645 non-null  uint8
 24  DepartmentInCompany_Design               13645 non-null  uint8
 25  DepartmentInCompany_Engineering          13645 non-null  uint8
 26  DepartmentInCompany_Finance              13645 non-null  uint8
 27  DepartmentInCompany_Product              13645 non-null  uint8
 28  Gender_Female                            13645 non-null  uint8
 29  Gender_Male                              13645 non-null  uint8
 30  Gender_Other                             13645 non-null  uint8
 31  GraduatingInstitute_Tier 1               13645 non-null  uint8
 32  GraduatingInstitute_Tier 2               13645 non-null  uint8
 33  GraduatingInstitute_Tier 3               13645 non-null  uint8
 34  HighestDegree_B.Tech                     13645 non-null  uint8
 35  HighestDegree_BCA                        13645 non-null  uint8
 36  HighestDegree_Dual M.Tech                13645 non-null  uint8
 37  HighestDegree_Dual MBA                   13645 non-null  uint8
 38  HighestDegree_M.Tech                     13645 non-null  uint8
 39  HighestDegree_MCA                        13645 non-null  uint8
 40  HighestDegree_MS                         13645 non-null  uint8
 41  HighestDegree_PhD                        13645 non-null  uint8
 42  LanguageOfCommunication_English          13645 non-null  uint8
 43  LanguageOfCommunication_Hindi            13645 non-null  uint8
 44  LanguageOfCommunication_Native           13645 non-null  uint8
 45  MartialStatus_Married                    13645 non-null  uint8
 46  MartialStatus_Single                     13645 non-null  uint8
 47  Age_(23.0, 28.0]                         13645 non-null  uint8
 48  Age_(28.0, 31.0]                         13645 non-null  uint8
 49  Age_(31.0, 34.0]                         13645 non-null  uint8
 50  Age_(34.0, 42.0]                         13645 non-null  uint8
dtypes: float64(6), uint8(45)
memory usage: 1.2 MB